---
layout: vendor/compress
---
<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
	<head>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <link href="{{ '/assets/fonts/jetbrains-mono/normal-latin.woff2' | relative_url }}" rel="preload" as="font" type="font/woff2" crossOrigin="anonymous">
		<link href="{{ '/assets/css/main.css?v=' | append: site.github.build_revision | relative_url }}" rel="stylesheet preload prefetch" as="style" type="text/css">
        <script src="{{ '/assets/js/main.js?v=' | append: site.github.build_revision | relative_url }}"></script>
	</head>
	<body>
        <div id="side-left">
            <header class="container rad-bl rad-br">
                <a href="{{ '/' | relative_url }}" id="site-name"><h1>{{ site.title }}</h1></a>
                <h3>{{ site.tagline }}</h3>
                <div id="action-container" class="noselect">
                    <div class="separator-v"></div>
                    <input id="html-file-import" type="file" autocomplete="off" accept="text/html" hidden/>
                    <label class="hbox hbot" for="html-file-import" data-title="Open & Import HTML"><i class="icon-import"></i></label>
                    <button class="hbox hbot" type="button" id="btn-save" data-title="Save As HTML"><i class="icon-save"></i></button>
                    <button class="hbox hbot" type="button" id="btn-pdf" data-title="Export As PDF"><i class="icon-pdf"></i></button>
                    <button class="hbox hbot" type="button" id="btn-print" data-title="Print"><i class="icon-print"></i></button>
                </div>
            </header>
            <section id="preview-container"></section>
            <div id="tools-container" class="rad-tl rad-tr noselect">
                <input type="radio" id="tool-radio-cursor-pointer" autocomplete="off" name="selected-cursor-tool" hidden checked>
                <input type="radio" id="tool-radio-cursor-grab" autocomplete="off" name="selected-cursor-tool" hidden>
                <label class="hbox htop" for="tool-radio-cursor-pointer" data-title="Select Mode"><i class="icon-cursor-pointer"></i></label>
                <label class="hbox htop" for="tool-radio-cursor-grab" data-title="Move Mode"><i class="icon-cursor-grab"></i></label>
                <div class="separator-v"></div>
                <button class="hbox htop" type="button" id="tool-zoom-out" data-title="Zoom Out"><i class="icon-un-zoom"></i></button>
                <button class="hbox htop" type="button" id="tool-zoom-in" data-title="Zoom In"><i class="icon-zoom"></i></button>
                <input id="tool-zoom-value" type="text" autocomplete="off" value="100%" data-title="Zoom Value">
                <div class="separator-v"></div>
                <button class="hbox htop" type="button" id="tool-fit-width" data-title="Fit Width"><i class="icon-fit-width"></i></button>
                <button class="hbox htop" type="button" id="tool-fit-full" data-title="Fit Full"><i class="icon-fit-full"></i></button>
            </div>
        </div>
        <div id="side-right">
            <div id="wrapper-right">
                <section id="wrapper-templates" class="container panel noselect rad-bl">
                    <input type="checkbox" id="retract-templates" class="retract-elem" autocomplete="off" name="show" hidden>
                    <div class="panel-head"><label for="retract-templates" class="subpanel-name retractable active"><span class="tree-expand"></span><span>TEMPLATES</span></label></div>
                    <div id="templates" class="panel-body"></div>
                </section>
                <div id="sidebar" class="rad-tl">
                    <div id="wrapper-blocks" class="container">
                        <section id="blocks-html" class="panel">
                            <input type="radio" id="show-body" autocomplete="off" name="selected-block" hidden checked>
                            <input type="radio" id="show-head" autocomplete="off" name="selected-block" hidden>
                            <div class="panel-head noselect">
                                <label for="show-body" id="label-block-body" class="subpanel-name"><span>BODY (HTML)</span></label>
                                <label for="show-head" id="label-block-head" class="subpanel-name"><span>HEAD (HTML)</span></label>
                            </div>
                            <div class="panel-body">
                                <div id="block-body" class="subpanel-content"></div>
                                <div id="block-head" class="subpanel-content"></div>
                            </div>
                        </section>
                        <a id="sidebar-resizer-h"><div class="resizer-h-dots"></div><span class="resizer-h-lshape"></span></a>
                        <section id="block-css" class="panel">
                            <div class="panel-head">
                                <span class="subpanel-name active"><span>STYLE (CSS)</span></span>
                            </div>
                            <div class="panel-body">
                                <div id="content-block-css" class="subpanel-content"></div>
                            </div>
                        </section>
                        <input type="checkbox" id="show-block-errors" autocomplete="off" name="show" hidden>
                        <section id="block-errors" class="panel">
                            <div class="panel-head"><span class="subpanel-name active"><span id="block-errors-title"></span><a href="#" id="block-errors-close-btn"><i class="icon-close"></i></a></span></div>
                            <div class="panel-body">
                                <div id="content-block-errors" class="subpanel-content">
                                    <section id="wrapper-head-errors" class="panel noselect hidden">
                                        <input type="checkbox" id="retract-head-errors" class="retract-elem" autocomplete="off" name="show" hidden>
                                        <div class="panel-head"><label for="retract-head-errors" class="subpanel-name retractable active"><span class="tree-expand"></span><span>HEAD</span></label></div>
                                        <div id="head-errors-content" class="panel-body"></div>
                                    </section>
                                    <section id="wrapper-body-errors" class="panel noselect hidden">
                                        <input type="checkbox" id="retract-body-errors" class="retract-elem" autocomplete="off" name="show" hidden>
                                        <div class="panel-head"><label for="retract-body-errors" class="subpanel-name retractable active"><span class="tree-expand"></span><span>BODY</span></label></div>
                                        <div id="body-errors-content" class="panel-body"></div>
                                    </section>
                                    <section id="wrapper-css-errors" class="panel noselect hidden">
                                        <input type="checkbox" id="retract-css-errors" class="retract-elem" autocomplete="off" name="show" hidden>
                                        <div class="panel-head"><label for="retract-css-errors" class="subpanel-name retractable active"><span class="tree-expand"></span><span>CSS</span></label></div>
                                        <div id="css-errors-content" class="panel-body"></div>
                                    </section>
                                </div>
                            </div>
                        </section>
                    </div>
                    <footer>
                        <label for="show-block-errors" id="display-errors" class="noselect hbox htop" data-title="Toggle Error(s)"><i class="icon-error"></i><span id="error-count">0</span></label>
                        <span id="project-info"><a href="{{ site.github.repository_url }}">Github Repo</a> - <a href="{{ site.license.url }}">{{ site.license.name }} License</a></span>
                        <input type="checkbox" id="theme-switch" autocomplete="off" name="darkmode" hidden>
                        <label for="theme-switch" id="label-theme-switch" class="noselect"><i class="icon-theme-switch"></i></label>
                    </footer>
                    <a id="sidebar-resizer-v"><span class="resizer-v-lshape"></span></a>
                </div>
            </div>
        </div>
        <div id="dummy-container"></div>
        <div id="popup-container" hidden>
            <a href="#" id="outside-popup"></a>
            <div id="popup-modal">
                <div id="popup-header"><span id="popup-title"></span><a href="#" id="popup-close-btn"><i class="icon-close"></i></a></div>
                <div id="popup-content"></div>
                <div id="popup-actions">
                    <div class="dummy-parent"><button type="button" id="popup-action-cancel" hidden>CANCEL</button></div>
                    <div class="dummy-spacer"></div>
                    <button type="button" id="popup-action-validate">OK</button>
                </div>
            </div>
        </div>
        <script src="{{ '/assets/js/vendor/ace/1.5.3/ace.js' | relative_url }}" charset="utf-8"></script>
        <script async src="{{ '/assets/js/vendor/html2canvas/1.4.1/html2canvas.min.js' | relative_url }}"></script>
        <script async src="{{ '/assets/js/vendor/blob-stream/0.1.3/blob-stream.js' | relative_url }}"></script>
        <script async src="{{ '/assets/js/vendor/img2pdf/0.13.0/img2pdf.standalone.min.js' | relative_url }}"></script>
    </body>
</html>